<div class="l-max-area l-login">
  <div class="l-login-screen-container">
    <div class="u-width-100-percent">
      <div class="l-login__box">
        <img class="l-login__logo" src="../../assets/youtube.webp" alt="">

        <div [ngSwitch]="vistaActual">
          <ng-container *ngSwitchCase="'login'">
            <h1 class="l-login__title">¡Bienvenido al <br> Sitio de Videos Favoritos!</h1>
            <p class="l-login__p">Para Ingresar Introduce tu Usuario y Contraseña:</p>
            <form class="l-login__form" [formGroup]="formularioLogin">
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Usuario" formControlName="usuario" (keydown.enter)="onKeydown($event)">
                <mat-error *ngIf="formularioLogin.get('usuario').hasError('required')">
                  El usuario es requerido.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="ocultar ? 'password' : 'text'" formControlName="password" (keydown.enter)="onKeydown($event)">
                <button mat-icon-button matSuffix matRipple (click)="ocultar = !ocultar" [attr.aria-label]="'Hide password'">
                  <mat-icon class="u-gray-default">{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formularioLogin.get('password').hasError('required')">
                  La contraseña es requerida.
                </mat-error>
                <mat-error *ngIf="formularioLogin.get('password').hasError('minlength')">
                  La contraseña debe tener al menos 8 caracteres.
                </mat-error>
              </mat-form-field>
              <button class="c-btn u-margin-bottom-30 u-margin-top-10" (click)="loginSubir()" [disabled]="!formularioLogin.valid">
                Ingresar
              </button>
              <a (click)="cambiarVista('actualizarPassword')" class="c-link u-block u-auto"> ¿Olvidaste tu Contraseña? </a>
              <a (click)="cambiarVista('registro')" class="c-link u-block u-auto"> Registrarme. </a>
            </form>
          </ng-container>

          <ng-container *ngSwitchCase="'actualizarPassword'">
            <h1 class="l-login__title">¡Ingrese su nueva Contraseña!</h1>
            <form class="l-login__form" [formGroup]="formularioActualizarPassword">
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo" (keydown.enter)="onKeydown($event)">
                <mat-error *ngIf="formularioActualizarPassword.get('correo').hasError('required')">
                  El correo electrónico es requerido.
                </mat-error>
                <mat-error *ngIf="formularioActualizarPassword.get('correo').hasError('email')">
                  Debe ingresar un correo electrónico válido.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="ocultar ? 'password' : 'text'" formControlName="password" (keydown.enter)="onKeydown($event)">
                <button mat-icon-button matSuffix matRipple (click)="ocultar = !ocultar" [attr.aria-label]="'Hide password'">
                  <mat-icon class="u-gray-default">{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formularioActualizarPassword.get('password').hasError('required')">
                  La contraseña es requerida.
                </mat-error>
                <mat-error *ngIf="formularioActualizarPassword.get('password').hasError('minlength')">
                  La contraseña debe tener al menos 8 caracteres.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput [type]="ocultar ? 'password' : 'text'" formControlName="passwordConfirm" (keydown.enter)="onKeydown($event)">
                <button mat-icon-button matSuffix matRipple (click)="ocultar = !ocultar" [attr.aria-label]="'Hide password'">
                  <mat-icon class="u-gray-default">{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formularioActualizarPassword.get('passwordConfirm').hasError('required')">
                  La confirmación de la contraseña es requerida.
                </mat-error>
                <mat-error *ngIf="formularioActualizarPassword.get('passwordConfirm').hasError('minlength')">
                  La confirmación debe tener al menos 8 caracteres.
                </mat-error>
              </mat-form-field>
              <button (click)="reestablecer()" class="c-btn u-margin-bottom-30">Reestablecer Contraseña</button>
              <a (click)="cambiarVista('login')" class="c-link u-block u-auto"> Volver al Inicio</a>
            </form>
          </ng-container>          

          <ng-container *ngSwitchCase="'registro'">
            <h1 class="l-login__title">¡Regístrate!</h1>
            <form class="l-login__form" [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Nombre y Apellido</mat-label>
                <input matInput formControlName="nombreCompleto" (keydown.enter)="onKeydown($event)" (change)="onNombreCompletoChange()">
                <mat-error *ngIf="formularioRegistro.get('nombreCompleto').hasError('required')">
                  El nombre y apellido son requeridos.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario" placeholder="Usuario generado" readonly>
              </mat-form-field>
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo" (keydown.enter)="onKeydown($event)">
                <mat-error *ngIf="formularioRegistro.get('correo').hasError('required')">
                  El correo electrónico es requerido.
                </mat-error>
                <mat-error *ngIf="formularioRegistro.get('correo').hasError('email')">
                  Debe ingresar un correo electrónico válido.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="c-input u-margin-auto" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="ocultar ? 'password' : 'text'" formControlName="password" (keydown.enter)="onKeydown($event)">
                <button mat-icon-button matSuffix matRipple (click)="ocultar = !ocultar" [attr.aria-label]="'Hide password'">
                  <mat-icon class="u-gray-default">{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formularioRegistro.get('password').hasError('required')">
                  La contraseña es requerida.
                </mat-error>
                <mat-error *ngIf="formularioRegistro.get('password').hasError('minlength')">
                  La contraseña debe tener al menos 8 caracteres.
                </mat-error>
              </mat-form-field>
              <re-captcha (resolved)="ejecutarCaptcha($event)" [siteKey]="siteKey"></re-captcha>
              <button (click)="registrar()" class="c-btn u-margin-bottom-30" [disabled]="!formularioRegistro.valid">Registrarme</button>
              <a (click)="cambiarVista('login')" class="c-link u-block u-auto"> Volver al Inicio</a>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
