<nav class="navbar">
  <div class="logo">
    <img src="../../assets/youtube.webp" alt="Logo" />
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <div class="menu-items" [class.active]="menuOpen">
    <a routerLink="/videos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Videos</a>
    <a routerLink="/favoritos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Favoritos</a>
    <div class="user-info">
      <span>{{ usuario }}</span>
      <button (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
